.planetImage {
    position: absolute;
    width: 445px;
    height: 445px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    top: 30%;
}

.planetImageContainer {
    position: relative;
}

@media screen and (max-width: 980px) {
    .planetImage {
        width: 300px;
        height: 300px;
    }
    .planetImageContainer {
        display: flex;
        width: 70%;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .planetImage {
        width: 170px;
        height: 170px;
    }
    .planetImageContainer {
        justify-content: unset;
    }
}