.planetImage {
    position: absolute;
    width: 445px;
    height: 445px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    top: 30%;
}

@media screen and (max-width: 820px) {
    .planetImage {
        width: 300px;
        height: 300px;
    }
}

.planetImageContainer {
    position: relative;
}