html, body {
    height: 100%;
    width: 100%;
}

.mainPageWrapper {
    height: 100%;
    width: 100%;
    background-image: url("src/assets/home/background-home-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}