.crewWrapper {
    margin-top: 76px;
    font-family: 'Bellefair', sans-serif;
    color: #FFFFFF;
    height: 65%;
    width: 80%;
}

.crewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.slideMenuWrapper {
    display: flex;
    grid-column-gap: 24px;
}

.slideIndicator {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    opacity: 0.17;
    border-radius: 50%;
    cursor: pointer;
}

.slideIndicatorSelected {
    opacity: unset;
}