.crewWrapper {
    font-family: 'Bellefair', sans-serif;
    color: #FFFFFF;
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 1fr;
}

.crewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.slideMenuWrapper {
    display: flex;
    grid-column-gap: 24px;
}

.slideIndicator {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    opacity: 0.17;
    border-radius: 50%;
    cursor: pointer;
}

.slideIndicatorSelected {
    opacity: unset;
}

@media screen and (max-width: 820px){
    .crewContainer {
        align-items: center;
        height: 90%;
    }
    .crewWrapper {
        grid-template-rows: 45% 1fr;
        grid-template-columns: unset;
    }
}

@media screen and (max-width: 450px) {
    .crewWrapper {
        grid-template-rows: 35% 1fr;
        grid-template-columns: unset;
        grid-row-gap: 2rem;
    }
}