.crewWrapper {
    font-family: 'Bellefair', sans-serif;
    color: #FFFFFF;
    height: 65%;
    width: 90%;
}

.crewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.slideMenuWrapper {
    display: flex;
    grid-column-gap: 24px;
}

.slideIndicator {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    opacity: 0.17;
    border-radius: 50%;
    cursor: pointer;
}

.slideIndicatorSelected {
    opacity: unset;
}

@media screen and (max-width: 820px){
    .crewContainer {
        align-items: center;
        height: 40%;
    }
}