.planetsBarContainer {
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 174px;
    grid-column-gap: 1rem;
    cursor: pointer;

    color: #D0D6F9;
}

.selectedItemIndicator {
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.defaultBarItem:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    mix-blend-mode: normal;
    padding-bottom: 20px;
}

