.crewMemberInfoWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slideMenuWrapper {
    display: flex;
}

.slideIndicator {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    opacity: 0.17;
    border-radius: 50%;
}

.slideIndicatorSelected {
    opacity: unset;
}

.crewMemberInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.crewMemberInfoContainer {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
    width: 65%;
}

.crewMemberPosition {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.crewMemberName {
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
}

.crewMemberDetailedInfo {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.imageContainer {
    width: 50%;
}

.crewImage {
    height: 70%;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 820px) {
    .crewMemberPosition, .crewMemberName, .crewMemberDetailedInfo {
        text-align: center;
    }
    .crewMemberPosition {
        font-size: 24px;
        line-height: 28px;
    }
    .crewMemberName {
        font-size: 40px;
        line-height: 46px;
    }
    .crewMemberDetailedInfo {
        font-size: 16px;
        line-height: 28px;
    }
    .crewMemberInfoWrapper {
        align-items: center;
    }
    .crewMemberInfoContainer {
        width: 65%;
    }
    .crewMemberInfo {
        display: unset;
        flex-direction: unset;
    }
    .crewImage {
        height: 43%;
        left: 28%;
    }
}