.appWrapper {
  width: 100%;
  height: 100%;
  background-position: center;
}

.appBackImage {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

.transitionMenuOpened {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.transitionMenuClosed {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  z-index: -1;
}

@media screen and (max-width: 980px) {
  .appContainer {
    margin-left: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  .appContainer {
    margin-left: 1.2rem;
  }
}


