.appWrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}



