.planetViewed {
    position: absolute;
    width: 30%;
    transform: translate(0, 0);
    transition: .3s;
}

.planetHidden {
    visibility: hidden;
    position: absolute;
    width: 30%;
    transform: translate(100%, 0);
    transition: .3s;
}

@media screen and (max-width: 820px) {
    .planetViewed {
        width: 70%;
    }
    .detailedWrapper {
        width: 83%;
        height: 100%;
    }
}