.planetViewed {
    position: absolute;
    width: 30%;
}

.planetHidden {
    visibility: hidden;
    position: absolute;
    width: 30%;
    transform: translate(100%, 0);
    transition: .3s;
}

@media screen and (max-width: 980px) {
    .planetViewed {
        width: 70%;
    }
    .detailedWrapper {
        width: 83%;
        height: 100%;
    }
}

@media screen and (max-width: 450px) {
    .planetViewed {
        position: unset;
        width: 90%;
    }
    .detailedWrapper {
        width: 95%;
    }
}