.slideButton {
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 50%;
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0B0D17;
    cursor: pointer;
}

.technologyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.detailsSliderContainer {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.slideButtonDisable {
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #FFFFFF;
    background-color: unset;
    mix-blend-mode: normal;
}

.slideButtonDisable:hover {
    border-color: #FFFFFF;
}

.technologySlider {
    display: flex;
    flex-direction: column;
    grid-row-gap: 32px;
}

.technologyDetails {
    font-weight: 400;
    color: #D0D6F9;
    width: 75%;
}

.techTitle {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.techName {
    font-family: 'Bellefair', sans-serif;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 10px;
}

.techDescription {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
}

@media screen and (max-width: 980px) {
    .technologyContainer {
        flex-direction: column-reverse;
    }
    .detailsSliderContainer {
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-top: 50px;
    }
    .technologySlider {
        flex-direction: unset;
        grid-column-gap: 32px;
    }
    .techTitle, .techName, .techDescription {
        text-align: center;
    }
    .techName {
        font-size: 40px;
        line-height: 46px;
    }
    .techDescription {
        font-size: 16px;
        line-height: 28px;
    }
    .technologyDetails {
        margin-top: 44px;
    }
    .slideButton {
        width: 58px;
        height: 58px;
    }
}

@media screen and (max-width: 450px) {
    .technologyImage {
        width: 374px;
        height: 170px;
    }
    .slideButton {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 18px;
    }
    .detailsSliderContainer {
        margin-top: 18px;
    }
    .techTitle {
        font-size: 14px;
        line-height: 17px;
    }
    .techName {
        font-size: 24px;
        line-height: 28px;
    }
    .techDescription {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
        min-height: 10.5rem;
    }
    .technologyDetails {
        margin-top: 15px;
        width: 100%;
    }
}